.modal-root {
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease-in-out;
  opacity: 0;
  z-index: 1500;
}

.modal-root-open {
  pointer-events: auto;
  opacity: 100;
}

.modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  z-index: 1000;
  position: fixed;
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: white;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  padding: 16px 24px;
  font-weight: 500;
}

.modal-body {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;
  padding: 16px 24px;
  font-weight: 500;
}

.modal-footer {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;
  padding: 16px 24px;
  font-weight: 500;
}
