.product-modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 32px;
}

.product-modal-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.product-modal-buttons {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  gap: 16px;
}

.product-modal-cancel-button {
  height: 35px;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: red;
  color: white;
  min-width: 100px;
  cursor: pointer;
}

.product-modal-cancel-button:hover {
  background-color: rgb(165, 0, 0);
}

.product-modal-save-button {
  height: 35px;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: green;
  color: white;
  min-width: 100px;
  cursor: pointer;
}

.product-modal-save-button:hover {
  background-color: rgb(0, 88, 10);
}

.product-success-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.product-success-feedback-button {
  background-color: #f8b475;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  min-width: 100px;
}
